<!DOCTYPE html>
<html>

<head>
    <title>Main Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/reflex.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container text-center-xs">
        <h1>Latest News</h1>
        <div class="grid">
            <article class="col-xs-12 col-sm-6 col-md-4">
                <div class="flex-footer">
                    <a href="#link">
                        <div class="thumnbail-container" 
                            style="background-image: url('https://picsum.photos/200/800');">
                        </div>
                        <h1>Article link</h1>
                        <p>An element inside the grid  Pariatur exercitationem molestias aut necessitatibus adipisci, id ipsum quam. Magnam, ullam?</p>
                    </a>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4">
                <div class="flex-footer">
                    <a href="#link">
                        <div class="thumnbail-container" 
                            style="background-image: url('https://picsum.photos/500/800');">
                        </div>
                        <h1>Hello World Lorem ipsum dolor sit amet consectetur adipisicing elit </h1>
                        <p>Another element inside the grid Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit voluptatibus ipsum itaque eius eum odio eligendi vero explicabo laudantium?</p>
                    </a>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4">
                <div class="flex-footer">
                    <a href="#link">
                        <div class="thumnbail-container" 
                            style="background-image: url('https://picsum.photos/300/450');">
                        </div>
                        <h1>Hello World</h1>
                        <p>Another element inside the grid</p>
                    </a>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4">
                <div class="flex-footer">
                    <a href="#link">
                        <div class="thumnbail-container" 
                            style="background-image: url('https://picsum.photos/100/450');">
                        </div>
                        <h1>Hello World</h1>
                        <p>Another element inside the grid</p>
                    </a>                    
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4">
                <div class="flex-footer">
                    <a href="#link">
                        <div class="thumnbail-container" 
                            style="background-image: url('https://picsum.photos/700/200');">
                        </div>
                        <h1>Hello World</h1>
                        <p>Another element inside the grid</p>
                    </a>                    
                </div>
            </article>
        </div>
    </div>
</body>

</html>